body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.dropdown {
  display: none;
  position: relative;
}

#button {
  width: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#button:hover {
  background-color: #ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  right: 15px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius: 5px;
}
navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section h2 {
  color: rgb(124, 193, 233);
  font-size: 21px;
}
section h2:hover {
  text-decoration: underline;
}
#first-section {
  font-size: 3.8rem;
}
ol {
  display: flex;
}
ol li,
ul li {
  padding: 20px;
  list-style-type: none;
  font-size: 1.5rem;
}
#main-container {
  margin: 1%;
}
section {
  margin-left: 15vw;
}
img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#second-article h1 {
  margin-top: 50px;
  margin-left: 12vw;
}

#aftercover {
  margin-left: 15vw;
}
#aftercover h1 {
  font-size: 3.7rem;
  font-weight: 500;
}
#first-article p {
  font-size: 22px;
  font-weight: lighter;
  color: #4f4f4f;
}
.cardcover {
  display: flex;
  margin: 0 12vw 0 12vw;
  justify-content: space-between;
}
#contact-you {
  font-size: 10px;
  font-weight: 500;
}

.card:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: auto;
  border-radius: 15px;
}

.container {
  padding: 2.3rem 1rem 0 1rem;
  height: 300px;
}
.logo {
  font-size: 45px;
  color: #3c8caf;
}
.logo1 {
  font-size: 45px;
  color: #27ae60;
}
.container img {
  width: 45px;
  height: 45px;
}
.container button:hover {
  background-color: rgb(45, 156, 219);
  color: aliceblue;
  transition: 0.3s;
}

.container button {
  background-color: rgb(151, 149, 149);
  border-radius: 8px;
  height: 30px;
  color: rgb(83, 81, 81);
  border: none;
}
#before-img-cards {
  margin: 0 12vw 0 12vw;
}
#image-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 75%;
}
.img-card img {
  border-radius: 50px;
  width: 34vw;
}
.img-card p:nth-child(2) {
  font-weight: 300;
  color: #828282;
}
.img-card p:nth-child(3) {
  font-weight: 500;
  color: #333333;
  font-size: 1.3rem;
}
#img-card1 {
  margin-top: 150px;
}
#img-card2 {
  margin-bottom: 150px;
}
#img-card3 {
  margin-top: 75px;
}
#img-card4 {
  margin-bottom: 75px;
}
#more-link {
  display: relative;
  color: rgb(45, 156, 219);
  font-size: 25px;
  margin-left: auto;
}
#text-img-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 77%;
  margin: auto;
}
#text-box {
  width: 40%;
  margin: auto;
}
#text-box p:nth-child(1) {
  font-weight: 400;
  color: #eb5757;
}
#text-box p:nth-child(3) {
  font-weight: 400;
}
#text-box h1 {
  font-weight: 500;
  font-size: 2rem;
}
#images-box {
  width: 60%;
  display: flex;
}
#images-box div {
  width: 48%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.img {
  border-radius: 10%;
}
#img-col img:nth-child(1) {
  width: 80%;
}
#img-col img:nth-child(2) {
  margin-top: 20px;
  width: 85%;
}
#comment-box {
  width: 80%;
  margin: auto;
}
#comment-box p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 500;
}
#comment-user {
  display: flex;
  width: 30%;
}
#comment-user img {
  width: 70px;
  margin-right: 20px;
}
#user-details {
  width: 100%;
}
#user-details span:nth-child(1) {
  font-size: 1rem;
}
#user-details span:nth-child(3) {
  color: #828282;
  font-weight: 500;
}
footer {
  color: aliceblue;
  display: flex;
  background-color: #100e1d;
  justify-content: space-evenly;
}
.foot1 {
  width: 25%;
}
.foot-col img {
  width: 30px;
  height: 30px;
}
.input-holder {
  display: flex;
  border-radius: 10px;
  background-color: white;
  align-items: center;
  width: 225px;
  height: 40px;
}
.input-holder input {
  border-radius: 5px;
  border: none;
  width: 73%;
}
.input-holder button {
  border-radius: 5px;
  width: 50px;
  background-color: #2d9cdb;
  border: none;
  height: 30px;
}
@media (max-width: 800px) {
  ol li {
    font-size: 1rem;
    padding: 10px;
  }
  #first-section {
    font-size: 2.8rem;
  }
  #aftercover h1 {
    font-size: 2.7rem;
  }
  .container {
    height: 400px;
  }
  #img-card1,
  #img-card2,
  #img-card3,
  #img-card4 {
    margin: 0 0 0 0;
  }
  .img-card img {
    width: 75vw;
  }
  @media (max-width: 480px) {
    body,
    #main-container {
      margin: 0;
    }
    section {
      margin: 5vw;
    }
    section h2 {
      margin: 0;
      font-size: 1rem;
    }
    #first-section {
      margin: 0;
      font-size: 2rem;
    }
    .dropdown {
      display: inline-block;
    }

    .cover-img {
      height: 15vh;
      border-radius: 15px;
    }
    #first-article p {
      font-size: 1rem;
      font-weight: lighter;
      color: #4f4f4f;
    }
    #aftercover h1 {
      font-size: 1.6rem;
      font-weight: 300;
      margin: 0;
    }
    #aftercover {
      margin: 13%;
    }
    .cardcover {
      flex-direction: column;
      margin: 12%;
    }
    #before-img-cards {
      font-size: 1.5rem;
      font-weight: 300;
      margin: 13%;
    }
    #image-cards {
      flex-direction: column;
      margin: 0;
      width: 100%;
    }

    #img-col img:nth-child(1) {
      width: 100%;
    }
    #img-col img:nth-child(2) {
      width: 100%;
    }
    .img-card img {
      border-radius: 30px;
      width: 100%;
    }
    #more-link {
      display: flex;
      font-size: 1rem;
    }
    #text-img-box {
      flex-direction: column;
      margin: 0;
      width: 100%;
    }
    #text-box {
      margin: 0;
      width: 100%;
    }
    #text-box p:nth-child(3) {
      color: #333333;
    }
    #text-box h1 {
      width: 100%;
    }
    #images-box {
      width: 100%;
      margin: auto;
    }
    #comment-box {
      margin: 20vw 0 0 0;
    }
    #comment-box p {
      color: #333333;
      margin-bottom: 2vh;
    }
    footer {
      flex-direction: column;
      width: 95vw;
    }
    ol {
      display: none;
    }
    ul li {
      display: flex;
      padding: 0 0 4px 0;
      color: #ffffff;
      font-size: 1rem;
      margin-left: 0;
    }
    #footer-mid,
    #right {
      margin: 5vh 7vw 5vh 11vw;
    }
  }
}
